<%- include('../partials/header'); %>

<section class="section">
    <div class="container">
        <h1 class="title">
            <p> Your request had unexpected data so it was rejected. </p>
            <p> If you ARE NOT trying to screw around, please report this. </p>
            <p> If you ARE trying to screw around, please don't? </p>
        </h1>
    </div>
</section>

<%- include('../partials/footer'); %>