<%- include('../partials/header'); %>

<section class="section">
    <div class="container">
        <h1 class="title">
            Why did you manually add params, breh?
        </h1>
    </div>
</section>

<%- include('../partials/footer'); %>